body {
	font-family: sans-serif;
}

span {
	font-style: underline;
}

.tooltips {
  background: white;
	color: purple;
	width: 400px;
	height: 200px;
	position: absolute;
	display: none;
}

.lista-desplegable-item:hover .tooltips {
	display: block;
}

.lista-desplegable-item {
	position: relative;
}
